body {
  font-family: Arial, sans-serif;
  background-color: #eea0b7;
  background-position: center;
  background-repeat: no-repeat;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid black;
  width: 300px;
  position: relative;
  z-index: 10;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-size: 2.5em;
}
.input-container {
  display: flex;
  margin-bottom: 10px;
}
.input-text {
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  height: auto;
}
.input-time {
  width: calc(100% - 100px);
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: auto;
}
button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #16c25d;
  color: rgb(255, 255, 255);
  cursor: pointer;
  height: 40px;
}
.awan_1 {
  width: 150px;
  position: absolute;
  top: 20px;
  left: 70%;
  transform: translateX(-50%);
  animation: customAni 5s ease-in-out 0s infinite ALTERNATE none;
}.awan_2 {
  width: 150px;
  position: absolute;
  top: 20px;
  left: 70%;
  transform: translateX(-50%);
  animation: customAni 5s ease-in-out 0s infinite ALTERNATE none;
}.awan_3 {
  width: 150px;
  position: absolute;
  top: 20px;
  left: 70%;
  transform: translateX(-50%);
  animation: customAni 5s ease-in-out 0s infinite ALTERNATE none;
}.awan_4 {
  width: 150px;
  position: absolute;
  top: 20px;
  left: 70%;
  transform: translateX(-50%);
  animation: customAni 5s ease-in-out 0s infinite ALTERNATE none;
}.awan_5 {
  width: 150px;
  position: absolute;
  top: 20px;
  left: 70%;
  transform: translateX(-50%);
  animation: customAni 5s ease-in-out 0s infinite ALTERNATE none;
}.awan_6 {
  width: 150px;
  position: absolute;
  top: 20px;
  left: 70%;
  transform: translateX(-50%);
  animation: customAni 5s ease-in-out 0s infinite ALTERNATE none;
}.awan_7 {
  width: 150px;
  position: absolute;
  top: 20px;
  left: 70%;
  transform: translateX(-50%);
  animation: customAni 5s ease-in-out 0s infinite ALTERNATE none;
}.awan_8 {
  width: 150px;
  position: absolute;
  top: 20px;
  left: 70%;
  transform: translateX(-50%);
  animation: customAni 5s ease-in-out 0s infinite ALTERNATE none;
}
@keyframes customAni {
  0% {
    transform: translateX(0);
} 100% {
  transform: translateX(-100px);
  }
}
.pita {
  width: 100px;
  position: absolute;
  top: 0%;
  transform: translate(-50%, -50%);
}
.strowberi {
  width: 70px;
  animation: animation1 15s linear infinite alternate;
}
.strowberi-1 {
  position: absolute;
  width: 70px;
  top: 5%;
  left: 17%;
  z-index: 1;
  transform: translateX(-50%);
}
.strowberi-2 {
  position: absolute;
  width: 100px;
  width: 70px;
  top: 24%;
  left: 25%;
  rotate: 10deg;
  transform: translateX(-50%);
  z-index: 1;
}
.strowberi-3 {
  position: absolute;
  width: 100px;
  width: 70px;
  top: 60%;
  left: 25%;
  rotate: -10deg;
  transform: translateX(-50%);
  z-index: 1;
}
.strowberi-4 {
  position: absolute;
  width: 100px;
  width: 70px;
  top: 55%;
  left: 8%;
  rotate: 45deg;
  transform: translateX(-50%);
  z-index: 1;
}
.strowberi-5 {
  position: absolute;
  width: 70px;
  top: 3%;
  right: 10%;
  rotate: -10deg;
  transform: translateX(-50%);
  z-index: 1;
}
.strowberi-6 {
  position: absolute;
  width: 100px;
  width: 70px;
  top: 20%;
  right: 20%;
  rotate: -15deg;
  transform: translateX(-50%);
  z-index: 1;
  animation: animation1 20s linear infinite alternate;
  -webkit-animation: animation1 20s linear infinite alternate;
}
.strowberi-7 {
  position: absolute;
  width: 100px;
  width: 70px;
  top: 40%;
  right: 25%;
  rotate: -10deg;
  transform: translateX(-50%);
  z-index: 1;
}
.strowberi-8 {
  position: absolute;
  width: 100px;
  width: 70px;
  top: 60%;
  right: 14%;
  rotate: 45deg;
  transform: translateX(-50%);
  z-index: 1;
}
.strowberi-9 {
  position: absolute;
  width: 100px;
  width: 70px;
  top: 10%;
  left: 55%;
  rotate: 10deg;
  transform: translateX(-50%);
  z-index: 1;
}
@keyframes animation1 {
  0%,100% {
    transform: translateY(0);
  }
  10%,30%,50%,70% {
    transform: translateY(-80px);
}
  20%,40%,60% {
    transform: translateY(8px);
}
}
ul {
  list-style: none;
  padding: 0px;
} 
li {
  background-color: #3ca363;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}
.delete-btn {
  background-color: #e03d2b;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}
