<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To-Do List</title>
<link rel="stylesheet" href="{{ utl_for('static', filename='style.css') }}">
  <style>
    @import url('https://www.dafont.com/namaku.fontCC');

  </style>
</head>
<body>
  <div class="container">
    <h1>My To-Do List</h1>
      <div class="input-container">
        <input class="input-text" type="text" placeholder="Add new task ...">
      </div>
      <div class="input-container">
        <input class="input-time" type="time" name="time">
        <button onclick="addTask()">Tambahkan</button>
      </div>
    <ul id="taskList">
    </ul>
  </div>
</body>
</html>