<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To-Do List</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <img src="/static/images/awan.png" alt="awan" class="awan_1">
  <img src="/static/images/awan.png" alt="awan" class="awan_2">
  <img src="/static/images/awan.png" alt="awan" class="awan_3">
  <img src="/static/images/awan.png" alt="awan" class="awan_8">
  <img src="/static/images/strowberi-3-removebg-preview.png" alt="strowberi class="strowberi">
  <img src="/static/images/strowberi-3-removebg-preview.png" alt="strowberi class="strowberi_1">
  <img src="/static/images/strowberi-3-removebg-preview.png" alt="strowberi class="strowberi_2">
  <img src="/static/images/strowberi-3-removebg-preview.png" alt="strowberi class="strowberi_3">
  <img src="/static/images/strowberi-3-removebg-preview.png" alt="strowberi class="strowberi_4">
  <img src="/static/images/strowberi-3-removebg-preview.png" alt="strowberi class="strowberi_5">
  <img src="/static/images/strowberi-3-removebg-preview.png" alt="strowberi class="strowberi_6">
  <img src="/static/images/strowberi-3-removebg-preview.png" alt="strowberi class="strowberi_7">
  <img src="/static/images/strowberi-3-removebg-preview.png" alt="strowberi class="strowberi_8">
  <img src="/static/images/strowberi-3-removebg-preview.png" alt="strowberi class="strowberi_9">
  <div class="container">
    <h1>My To-Do List</h1>
      <div class="input-container">
        <input class="input-text" type="text"
        id="taskInput" placeholder="Add new task ...">
      </div>
      <div class="input-container">
        <input class="input-time" type="time" id="timeInput">
        <button onclick="addTask()">Tambahkan</button>
      </div>
    <ul id="taskList">
    </ul>
  </div>
  <img src="/static/images/awan.png" alt="awan" class="awan_4">
  <img src="/static/images/awan.png" alt="awan" class="awan_5">
  <img src="/static/images/awan.png" alt="awan" class="awan_6">
  <img src="/static/images/awan.png" alt="awan" class="awan_7">
<script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>